 
 button{
    text-transform: uppercase;
    width:17%;
    font-family: verdana;
 }
.card-group{
   margin: 10px;
}
 .card{
    margin: 5px;
    height: 150px;
 }

 .card-buttons{
    float: right;
    display: flex;
    flex-direction: column;
 }
 .card-left{
    float: left;
 }
 .card-title{
    font-size: 12px;
 }
 i {
   cursor: pointer;
 }
 .bi-trash:hover{
   color: red;
 }
 .bi-check-circle:hover{
   color: green;
 }